<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kimdeagle.ledger.system.ledger.LedgerMapper">

	<select id="getList" resultType="com.kimdeagle.ledger.system.ledger.LedgerDto">
		SELECT
			*
		FROM
			SY_LEDGER
		WHERE
			USER_NO = ${userNo}
		ORDER BY
			ADD_DATE ASC
	</select>

	<insert id="regist">
		INSERT INTO SY_LEDGER
			(
				USER_NO,
				ADD_DATE,
				AMOUNT,
				CONTENT,
				IN_OUT,
				CATEGORY,
				ASSET
			)
		VALUES
			(
				#{userNo},
				#{addDate},
				#{amount},
				#{content},
				#{inOut},
				#{category},
				#{asset}
			)
	</insert>
	
	<select id="getSearchList" resultType="com.kimdeagle.ledger.system.ledger.LedgerDto">
		SELECT
			*
		FROM
			SY_LEDGER
		WHERE
			USER_NO = #{userNo}
		<if test='inOut != ""'>
			AND IN_OUT = #{inOut}
		</if>
		<if test='category != ""'>
			AND CATEGORY = #{category}
		</if>
		<if test='asset != ""'>
			AND ASSET = #{asset}
		</if>
		<if test='!isCheckAllDate'>
			AND ADD_DATE BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test='!isCheckAllAmount'>
			AND AMOUNT BETWEEN #{startAmount} AND #{endAmount}
		</if>
		<if test='keyword != ""'>
			AND CONTENT LIKE CONCAT('%', #{keyword}, '%')
		</if>
		ORDER BY
			ADD_DATE ASC
	</select>
</mapper>