<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kimdeagle.ledger.system.ledger.LedgerMapper">

	<sql id="search">
		<if test='inOut != null and inOut != ""'>
			AND IN_OUT = #{inOut}
		</if>
		<if test='category != null and category != ""'>
			AND CATEGORY = #{category}
		</if>
		<if test='asset != null and asset != ""'>
			AND ASSET = #{asset}
		</if>
		<if test='search.startDate != null and search.startDate != ""'>
			AND ADD_DATE BETWEEN #{search.startDate} AND #{search.endDate}
		</if>
		<if test='search.startAmount != null and search.startAmount != ""'>
			AND AMOUNT BETWEEN #{search.startAmount} AND #{search.endAmount}
		</if>
		<if test='search.keyword != null and search.keyword != ""'>
			AND CONTENT LIKE CONCAT('%', #{search.keyword}, '%')
		</if>
	</sql>

	<select id="getList" resultType="com.kimdeagle.ledger.system.ledger.LedgerDto">
		SELECT
			*
		FROM
			SY_LEDGER
		WHERE
			USER_NO = #{userNo}
		<include refid="search"></include>
		ORDER BY
			ADD_DATE DESC
		LIMIT
			#{pagination.startIdx}, #{pagination.cntPerPage}
	</select>

	<insert id="regist">
		INSERT INTO
			SY_LEDGER
				(
					USER_NO,
					ADD_DATE,
					AMOUNT,
					CONTENT,
					IN_OUT,
					CATEGORY,
					ASSET
				)
			VALUES
				(
					#{userNo},
					#{addDate},
					#{amount},
					#{content},
					#{inOut},
					#{category},
					#{asset}
				)
	</insert>
	
	<update id="update">
		UPDATE
			SY_LEDGER
		SET
			ADD_DATE = #{addDate},
			AMOUNT = #{amount},
			CONTENT = #{content},
			IN_OUT = #{inOut},
			CATEGORY = #{category},
			ASSET = #{asset}
		WHERE
			NO = #{no}
	</update>
	
	<delete id="delete">
		DELETE FROM
			SY_LEDGER
		WHERE
			NO = #{no}
	</delete>
	
	<select id="getTotalCnt" resultType="int">
		SELECT
			COUNT(*)
		FROM
			SY_LEDGER
		WHERE
			USER_NO = #{userNo}
		<include refid="search"></include>
	</select>
	
	<select id="getTodayStat" resultType="com.kimdeagle.ledger.system.ledger.StatDto">
		SELECT
			(
				SELECT
					IFNULL(SUM(AMOUNT), 0)
				FROM
					SY_LEDGER
				WHERE
					USER_NO = #{userNo}
				AND
					ADD_DATE = #{date}
				AND
					IN_OUT = 'in'
			) AS INCOME,
			(
				SELECT
					IFNULL(SUM(AMOUNT), 0)
				FROM
					SY_LEDGER
				WHERE
					USER_NO = #{userNo}
				AND
					ADD_DATE = #{date}
				AND
					IN_OUT = 'out'
			) AS OUTGOINGS,
			(
				SELECT
					COUNT(*)
				FROM
					SY_LEDGER
				WHERE
					USER_NO = #{userNo}
				AND
					ADD_DATE = #{date}
				AND
					IN_OUT = 'in'
			) AS INCOME_CNT,
			(
				SELECT
					COUNT(*)
				FROM
					SY_LEDGER
				WHERE
					USER_NO = #{userNo}
				AND
					ADD_DATE = #{date}
				AND
					IN_OUT = 'out'
			) AS OUTGOINGS_CNT
	</select>
	
	<select id="getMonthlyStat" resultType="com.kimdeagle.ledger.system.ledger.StatDto">
		SELECT
			#{date} AS DATE,
			(
				SELECT
					IFNULL(SUM(AMOUNT), 0)
				FROM
					SY_LEDGER
				WHERE
					USER_NO = #{userNo}
				AND
					ADD_DATE LIKE CONCAT('%', #{date}, '%')
				AND
					IN_OUT = 'in'
			) AS INCOME,
			(
				SELECT
					IFNULL(SUM(AMOUNT), 0)
				FROM
					SY_LEDGER
				WHERE
					USER_NO = #{userNo}
				AND
					ADD_DATE LIKE CONCAT('%', #{date}, '%')
				AND
					IN_OUT = 'out'
			) AS OUTGOINGS,
			(
				SELECT
					COUNT(*)
				FROM
					SY_LEDGER
				WHERE
					USER_NO = #{userNo}
				AND
					ADD_DATE LIKE CONCAT('%', #{date}, '%')
				AND
					IN_OUT = 'in'
			) AS INCOME_CNT,
			(
				SELECT
					COUNT(*)
				FROM
					SY_LEDGER
				WHERE
					USER_NO = #{userNo}
				AND
					ADD_DATE LIKE CONCAT('%', #{date}, '%')
				AND
					IN_OUT = 'out'
			) AS OUTGOINGS_CNT
	</select>
	
	<select id="getAnnualStat" resultType="com.kimdeagle.ledger.system.ledger.StatDto">
		SELECT
			#{date} AS DATE,
			(
				SELECT
					IFNULL(SUM(AMOUNT), 0)
				FROM
					SY_LEDGER
				WHERE
					USER_NO = #{userNo}
				AND
					ADD_DATE LIKE CONCAT('%', #{date}, '%')
				AND
					IN_OUT = 'in'
			) AS INCOME,
			(
				SELECT
					IFNULL(SUM(AMOUNT), 0)
				FROM
					SY_LEDGER
				WHERE
					USER_NO = #{userNo}
				AND
					ADD_DATE LIKE CONCAT('%', #{date}, '%')
				AND
					IN_OUT = 'out'
			) AS OUTGOINGS,
			(
				SELECT
					COUNT(*)
				FROM
					SY_LEDGER
				WHERE
					USER_NO = #{userNo}
				AND
					ADD_DATE LIKE CONCAT('%', #{date}, '%')
				AND
					IN_OUT = 'in'
			) AS INCOME_CNT,
			(
				SELECT
					COUNT(*)
				FROM
					SY_LEDGER
				WHERE
					USER_NO = #{userNo}
				AND
					ADD_DATE LIKE CONCAT('%', #{date}, '%')
				AND
					IN_OUT = 'out'
			) AS OUTGOINGS_CNT
	</select>
	
</mapper>