<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kimdeagle.ledger.login.LoginMapper">
	<select id="login" resultType="com.kimdeagle.ledger.member.MemberDto">
		SELECT
			*
		FROM
			SY_USER
		WHERE
			ID = #{id}
		AND
			PW = #{pw}
	</select>
	
	<insert id="insertLoginDate" parameterType="com.kimdeagle.ledger.member.MemberDto">
		<selectKey keyProperty="lastLoginDate" resultType="java.util.Date" order="AFTER">
			SELECT
				MAX(LOGIN_DATE)
			FROM
				SY_LOGIN_HISTORY
			WHERE
				USER_NO = ${no}
		</selectKey>
		
		INSERT INTO
			SY_LOGIN_HISTORY
				(USER_NO)
			VALUES
				(${no})
	</insert>
	
	<select id="getLoginHistory" resultType="com.kimdeagle.ledger.login.LoginHistoryDto">
		SELECT
			LOGIN_DATE
		FROM
			SY_LOGIN_HISTORY
		WHERE
			USER_NO = #{no}
	</select>
</mapper>